<%- include("../partials/header_edit") %>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-12 text-center">
			<h1>Edit <%= flat.name %></h1>
		</div>

	<div class="col-xs-12 col-md-6 col-lg-4">
		<form action="/flats/<%= flat._id %>?_method=PUT" method="post">
		<div class="form-group">
			<input class="form-control" type="text" name="name" placeholder="title" value="<%= flat.name %>">
		</div>
		<div class="form-group">
			<input class="form-control" type="text" name= "description" placeholder="description" value="<%= flat.description %>">
		</div>
		<div class="form-group">
			<input class="form-control"  type="text" name="image" placeholder="image" value="<%= flat.image %>">
		</div>
		<div class="form-group">
			<input class="form-control"  type="number" name="price" placeholder="price" value="<%= flat.price %>" min="1000000" step="100000">
		</div>
		<div class="form-group">
			<input class="form-control"  type="text" name="contact" placeholder="contact" value="<%= flat.contact %>">
		</div>
		<div class="form-group">
			<button class="btn btn-lg btn-primary btn-block">Update</button>
		</div>
		</form>
		<a href="/flats">Go Back</a>	
	</div>
	</div>
</div>
<%- include("../partials/loginfooter") %>