<%- include("../partials/headerindex") %>
	<div class="container">
		<div class="jumbotron">
			<div class="container">
  				<h1>Welcome to নীড়!</h1>
				<p>See our Flats!</p>
				<p><a class = "btn btn-primary btn-lg" href="/flats/new">Give a new Add!</a></p>
			</div>
		</div>


		<div class="row text-center">
			<% flats.forEach(function(flat){ %>
				<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
					<div class="card">
						<img class="card-img-top" src="<%= flat.image %>" alt="<%= flat.name %>">
					<div class="card-body">
						<h4 class="card-title"><%= flat.name %></h4>
						<h4 class="card-title"><%= flat.price %> TK</h4>
					</div>
						<p>
							<a href="/flats/<%= flat._id %>" class="btn btn-info">More Info</a>
						</p>
					</div>
				</div>	
			<% }) %>
			</div>
		</div>
<%- include("../partials/footer_index") %>


