<%- include("../partials/header_show") %>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<!-- map -->
		</div>
		
		<div class="col-md-9">
			
			<div class="card mb-3">
  				<img class="card-img-top" src="<%= flat.image %>" alt="<%= flat.name %>">
  			<div class="card-body">
				<h4 class="text-right"><%= flat.price%> TK</h4>
    			<h5 class="card-title"><%= flat.name %></h5>
                <h4 class="card-title"><a>Contact: <%= flat.contact %> </a></h4>
				<p><em>Submitted By <%= flat.author.username %></em></p>
				<hr>
    			<p class="card-text"> <%= flat.description %></p>
					
					<% if(currentUser && flat.author.id.equals(currentUser._id)){ %>
						<a class="btn btn-sm btn-warning mb-4" href="/flats/<%=flat._id%>/edit">Edit</a>
						<form id="delete" action="/flats/<%= flat._id %>?_method=DELETE" method="post">
							<button class="btn btn-sm btn-danger mb-4">Delete</button>
						</form>
					<% } %>
				
  			</div>
			</div>
		
			
			<div class="card">
				<div class="card-body">
				<div class="text-right">
					<p>
						<a class="btn btn-success" href="/flats/<%= flat._id %>/comments/new">Add a New Comment</a>
					</p>
				</div>
				<hr>
				<div class="row">
					
				<% flat.comments.forEach(function(comment){ %>
					
						<div class="col-md-12 mb-2">
							<div class="card">
							<div class="card-body">
								<div class="text-right"><%= comment.created.toDateString() %></div>
                <div>
					
							<p class="card-title"><%= comment.author.username %></p>
					
                  <p class="card-text"><%= comment.text %></p>
                
								
							
								
									<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
								
									<a 	class="btn btn-sm btn-warning mb-4" 
							   		href="/flats/<%= flat._id %>/comments/<%= comment._id %>/edit">
									Edit</a>
								<form id="delete" action="/flats/<%= flat._id %>/comments/<%= comment._id %>?_method=DELETE" method="post">
									<button class="btn btn-sm btn-danger">Delete</button>
								</form>
								
								<% } %>
								
						</div>		
							
						</div>
					</div>
				</div>
				<% }) %>
			</div>
		</div>
	</div>
</div>
<%- include("../partials/footer_index") %>